@font-face {
    font-family: "norse-bold";
    src: 
        url(norse-bold-webfont.woff),
        url(norse-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0px;
}

.left-container,
.right-container {
    height: 100vh;
}

.left-container {
    background-image: url(arun-clarke-5vLPyrbf5Tc-unsplash.jpg);
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-credit,
.photo-credit a:link,
.photo-credit a:visited,
.photo-credit a:hover,
.photo-credit a:active {
    color: white;
    text-align: center;
}

.banner {
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    top: 170px;
    justify-content: center;
}

.banner img {
    width: 80px;
    height: 100px;
    margin: 10px 0px;
}

.banner p {
    font-family: "norse-bold";
    font-size: 75px;
    color: white;
    margin: 0px;
    padding-top: 25px;
}