@font-face {
    font-family: "norse-bold";
    src: 
        url(norse-bold-webfont.woff),
        url(norse-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-bg-color: rgb(241, 241, 241);
    --secondary-bg-color: white;
    --default-border-color: #E5E7EB;
    --focus-border-color: blue;
    --invalid-border-color: red;
    --button-bg-color: #596D48;
    --margin-from-left-side: 40px;
}

body {
    margin: 0px;
}

body,
.left-container,
.right-container {
    display: flex;
    height: 100vh;
}

.left-container {
    background-image: url(arun-clarke-5vLPyrbf5Tc-unsplash.jpg);
    width: 470px;
    flex-direction: column;
    justify-content: space-between;
}

.photo-credit,
.photo-credit a:link,
.photo-credit a:visited,
.photo-credit a:hover,
.photo-credit a:active {
    color: white;
    text-align: center;
    font-family: system-ui;
    font-size: 12px;
}

.banner {
    display: flex;
    background-color: rgba(0, 0, 0, .3);
    position: relative;
    top: 170px;
    justify-content: center;
}

.banner img {
    width: 80px;
    height: 100px;
    margin: 10px 0px;
}

.banner p {
    font-family: "norse-bold";
    font-size: 75px;
    color: white;
    margin: 0px;
    padding-top: 25px;
}

.top-message {
    margin-left: var(--margin-from-left-side);
    margin-bottom: 35px;
    margin-top: 105px;
}

.message {
    font-weight: bold;
    font-size: 20px;
    font-family: system-ui;
}

.right-container {
    background-color: var(--primary-bg-color);
    flex-direction: column;
    flex: 1;
}

.right-container fieldset {
    padding-left: 37px;
    height: 240px;
    background-color: var(--secondary-bg-color);
    border-width: 0px;
    margin-bottom: 30px;
    box-shadow: -5px 3px 17px -13px black;
    margin-top: 5px;
    margin-left: 0px;
}

.field {
    display: flex;
    gap: 80px;
    margin-bottom: 15px;
}

.field label {
    font-family: system-ui;
    font-size: 12px;
}

.field input {
    display: block;
    border-radius: 5px;
    border: 1px solid var(--default-border-color);
    height: 20px;
    padding-left: 5px;
}

.field input:invalid {
    outline: none;
    border: 2px solid var(--invalid-border-color);
}

.field input:focus {
    outline: none;
    border: 2px solid var(--focus-border-color);
}

button {
    background-color: var(--button-bg-color);
    outline: none;
    border: 0px solid var(--button-bg-color);
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
    font: system-ui;
    font-size: 17px;
    font-weight: bold;
    margin-left: var(--margin-from-left-side);
    box-shadow: 0px 2px 8px -5px black;
}

.login-text {
    font-family: system-ui;
    margin-left: var(--margin-from-left-side);
    margin-top: 30px;
}